<%- include('../layouts/admin_header.ejs') %>


   <!-- top and side nav starts -->

   <div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="/admin/home" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary">AQUApets.in</h3>
            </a>
        
            <div class="navbar-nav w-100">
                <a href="/admin/home" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                
                <a href="/admin/salesReport" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Sales Report</a>

                <a href="/admin/orderList" class="nav-item nav-link"><i class="far fa-file-alt me-2"></i>Orders</a>

                <a href="/admin/categoryList" class="nav-item nav-link"><i class="fas fa-list"></i>Category</a>

                <a href="/admin/userList" class="nav-item nav-link "><i class="fas fa-users"></i>Users</a>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown"><i class="fas fa-boxes"></i>Products</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="/admin/addProducts" class="dropdown-item ">Add Products</a>
                        <a href="/admin/productList" class="dropdown-item ">View & Update Products</a>
                        
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown"><i class="fa fa-gift" aria-hidden="true"></i>Offer</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="/admin/addOffer" class="dropdown-item ">Add Offer</a>
                        <a href="/admin/viewOffer" class="dropdown-item ">View & Update Offer</a>
                        
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fas fa-list-alt"></i>Coupon</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="/admin/addCoupon" class="dropdown-item">Add Coupon</a>
                        <a href="/admin/viewCoupon" class="dropdown-item active">View & Update Coupon</a>
                        
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Banner</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="/admin/addBanner" class="dropdown-item">Add Banner</a>
                        <a href="/admin/viewBanner" class="dropdown-item">View & Update Banner</a>
                        
                    </div>
                </div>
                
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            
            <div class="navbar-nav align-items-center ms-auto">
                
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        
                        <a href="/admin/logout" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

<!-- top and side nav ends -->


            <!-- form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Edit Coupon</h6>
                            <% function formatDate(date) {
                                const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                                return date ? new Date(date).toISOString().split('T')[0] : '';
                            } %>
                            <form action="/admin/editCoupon" method="post" enctype="application/x-www-form-urlencoded" id="addProduct">
                                <div>
                                    <% 
                                        if(typeof message2 !== 'undefined'){
                                            %>
                                            <div class="alert alert-success">
                                                <h6 class="text-start" style="color: rgb(7, 201, 52);"><%= message2 %></h6>
                                            </div>
                                            <%
                                        }
                                    %>
                                    <% 
                                        if(typeof message1 !== 'undefined'){
                                            %>
                                            <div class="alert alert-danger">
                                            <h6 class="text-start" style="color: rgb(255, 0, 0);"><%= message1 %></h6>
                                            </div>
                                            <%
                                        }
                                    %>
                                    <% if (typeof errors !== 'undefined') { %>
                                    <div class="alert alert-danger">
                                        <ul>
                                        <% for (let error of errors) { %>
                                            <li><%= error %></li>
                                        <% } %>
                                        </ul>
                                    </div>
                                    <% } %>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="hidden" class="form-control" id="coupon-id" name="id" value="<%= coupon._id %>" required>
                                        <input type="text" class="form-control" id="coupon-name" name="code" value="<%= coupon.code %>" maxlength="20" required>
                                        <label for="name">Coupon code</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="hidden" class="form-control" id="status" name="status" value="<%= coupon.status %>" required>
                                        <input type="number" class="form-control" id="discountPercentage" name="discountPercentage" value="<%= coupon.discountPercentage %>" oninput="validatePercentage(this)" required>
                                        <label for="name">Discount Percentage</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                    <select class="form-select" id="numberOfUsesType" name="numberOfUsesType" onchange="handleNumberOfUsesType(this)" required>
                                        <option value="unlimited" <%= coupon.NumberOfUses === 100000 ? 'selected' : '' %>>Unlimited</option>
                                        <option value="limited" <%= coupon.NumberOfUses !== 100000 ? 'selected' : '' %>>Limited</option>
                                    </select>
                                    <label for="numberOfUsesType">Number of Users</label>
                                </div>

                                <div id="userLimitContainer" style='display: block;'>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" min="1" id="userLimit" name="userLimit" placeholder="Enter the number of Users allowed to use this coupon" value="<%= coupon.NumberOfUses %>" <%= coupon.NumberOfUses === null ? 'readonly' : '' %>>
                                        <label for="couponLimit">Enter the number of Users allowed to use this coupon</label>
                                    </div>
                                </div>


                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="startDate" name="startDate" value="<%= formatDate(coupon.startDate) %>" required>
                                    <label for="name">Starting date</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="expireDate" name="expireDate" value="<%= formatDate(coupon.expireDate) %>" required>
                                    <label for="name">Expiry date</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="minimumSpend" min="1" name="minimumSpend" value="<%= coupon.minimumSpend %>" oninput="validateMinimumSpend(this)" required>
                                    <label for="name">Minimum Spend</label>
                                </div>

                                <button type="submit" class="btn btn-primary">Edit Coupon</button>
                                <a href="/admin/viewCoupon"><button type="button" class="btn btn-secondary me-2">Cancel</button></a>  

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- form End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">AQUApets.in</a>, All Right Reserved. 
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->
     
        <script>
             
            function validatePercentage(input) {
                var value = parseFloat(input.value);
                if (isNaN(value) || value < 1 || value > 100) {
                    input.setCustomValidity("Discount percentage must be between 1 and 100.");
                } else {
                    input.setCustomValidity("");
                }
            }

            function validateMinimumSpend(input) {
                var value = parseFloat(input.value);
                if (isNaN(value) || value < 1) {
                    input.setCustomValidity("Minimum spend must be greater than 1.");
                } else {
                    input.setCustomValidity("");
                }
            }

            // Function to handle the change in the Number of Users dropdown
            function handleNumberOfUsesType(selectElement) {
                var userLimitContainer = document.getElementById("userLimitContainer");
                var userLimitInput = document.getElementById("userLimit");

                if (selectElement.value === "limited") {
                    userLimitContainer.style.display = "block";
                    userLimitInput.required = true;
                    userLimitInput.readOnly = false;  // Set to false when limited
                } else {
                    userLimitContainer.style.display = "none";
                    userLimitInput.required = false;
                    userLimitInput.readOnly = true;   // Set to true when unlimited
                }
            }

     
        </script>

    <%- include('../layouts/admin_footer.ejs') %>